@font-face {
	font-family: woff;
	font-display: swap;
	src: url('woff.ttf');
}
header{
    height: 144px;
    background: #1C4CB9;
}
*{
    transition-duration: 0.2s;
    font-family: woff;
}
footer{
    color: #fff;
    background: #262626;
    height: 480px;
}
body{
    background: #EDEDED;
}
header a{
    font-size: 14px;
    text-decoration: none;
    color: rgb(36,31,33);
}
@media (hover: hover){
    header a:hover{
        color: #ff3333;
    }  
}
h1{
    font-size: 48px;
}
h2{
    padding-top: 12px;
    padding-bottom: 12px;
    border-top: solid rgb(28,76,185) 2px;
    border-bottom: solid rgb(28,76,185) 2px;
}
footer h2{
    border-top: none;
    border-color: #fff;
}