@font-face {
    font-family: woff;
    font-display: swap;
    src: url('woff.ttf');
  }
  
  header {
    padding-top: 40px;
    height: 120px;
    background: #1c4cb9;
  }
  
  .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
  }
  .currentA{
    color: #ff3333;
  }
  ul li{
    list-style: none;
  }
  li img{
    width: 250px;
    height: 250px;
  }
  li p{
    color: rgb(28, 76, 185);
    font-size: 14px;
  }
  * {
    transition-duration: 0.2s;
    font-family: arial;
    font-weight: 100;
  }
  header img{
    width: 270px;
  }
  header nav{
    float: left;
    margin-top: 20px;
  }
  footer {
    color: #fff;
    background: #262626;
    height: 480px;
  }
  
  body {
    margin: 0;
    background: #ededed;
  }
  
  header nav a {
    margin-left: 15px;
    font-size: 20px;
    text-decoration: none;
    color: rgb(36, 31, 33);
  }
  @media (hover: hover) {
    header a:hover {
      color: #ff3333;
    }
  }
  header img {
    float: right;
  }
  
  nav a {
    text-decoration: none;
    color: rgb(36, 31, 33);
    font-size: 24px;
  }
  
  .team-menu-link-1,
  .team-menu-link-2,
  .team-menu-link-3,
  .team-menu-link-4 {
    padding: 10px;
    height: 120px;
  }
  .team-menu-link-1 {
    background: #ff3333;
  }
  
  .team-menu-link-2 {
    background: #ffb222;
  }
  
  .team-menu-link-3 {
    background: #18733a;
  }
  
  .team-menu-link-4 {
    background: #026dfa;
  }
  
  h1 {
    font-size: 48px;
  }
  
  h2 {
    margin-bottom: 50px;
    color: rgb(28, 76, 185);
    padding-left: 30px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-top: solid rgb(28, 76, 185) 2px;
    border-bottom: solid rgb(28, 76, 185) 2px;
  }
  
  footer h2 {
    border-top: none;
    border-color: #fff;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -8px;
    margin-right: -8px;
  }
  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11,
  .col-12 {
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
  }
  .col-1 {
    flex-basis: 8.3333%;
  }
  .col-2 {
    flex-basis: 16.6666%;
  }
  .col-3 {
    flex-basis: 24.9999%;
  }
  .col-4 {
    flex-basis: 33.3333%;
  }
  .col-5 {
    flex-basis: 41.6665%;
  }
  .col-6 {
    flex-basis: 49.9998%;
  }
  .col-7 {
    flex-basis: 58.3331%;
  }
  .col-8 {
    flex-basis: 66.6664%;
  }
  .col-9 {
    flex-basis: 74.9997%;
  }
  .col-10 {
    flex-basis: 83.3333%;
  }
  .col-11 {
    flex-basis: 91.6663%;
  }
  .col-12 {
    flex-basis: 100%;
  }
  